{% extends 'base.html' %}
{%block description%}"This is my description"{%endblock%}
{%block robots%}index, follow{%endblock%} <!-- Indicates search engines to index
noindex, nofollow for no indexing -->
{%block keywords%}modern black suits, myshop{%endblock%}
{%block title%}MyshopNew{%endblock%}
{%block body%}
<!-- ***************** header ***************** -->
  {% include "includes/nav.html" %} <!--Use this command include to use template snippets
  Warning: Must be set up properly on settings-->

<!-- ***************** main content ***************** -->
<section id="intro">
  <div style="width: 50%;">
      <h1>Best Clothing Quality</h1>   
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis porro quam fugiat accusantium ab velit tenetur perspiciatis autem, ipsa obcaecati at blanditiis? Unde, consectetur itaque nemo modi consequuntur obcaecati accusantium?</p>
      <a onclick="hideNav()">Become a member</a>
  </div>

  <video controls>
      <source src="video/intro-video.mp4">
  </video>
</section>


<!-- ***************** Category ***************** 
<nav id="nav-cat">
  <a>Suit</a>
  <a>Shirt</a>
  <a>Dress</a>
  <a>Shoes</a>
</nav>
-->

<!-- ***************** Product card ***************** -->
<div class="product-nav">
  <h3>Suits</h3>
  <!--The suits parameters correspond to the parameter for the dynamic url in url.py for productcat most be provided-->
  <a href="{%url "productcat" "suits"%}">View all suits</a>
</div>
<main id="products-intro">
  <div class="product-card">
      <div class="review-con"><p>Reviews 4.8⭐</p></div>
      <img src="image/suit-1.png" class="product-img">
      <div style="padding:20px 25px">
          <h3>Product 1</h3>
          <p>This is just a simple description for our product.</p>
          <a href="">View Product</a>
      </div>
  </div>

  <div class="product-card">
      <img src="image/suit-2.png" class="product-img">
      <div style="padding:20px 25px">
          <h3>Product 2</h3>
          <p>This is just a simple description for our product.</p>
          <a href="">View Product</a>
      </div>
  </div>

  <div class="product-card">
      <img src="image/suit-3.png" class="product-img">
      <div style="padding:20px 25px">
          <h3>Product 3</h3>
          <p>This is just a simple description for our product.</p>
          <a href="">View Product</a>
      </div>
  </div>

  <div class="product-card">
      <img src="image/suit-4.png" class="product-img">
      <div style="padding:20px 25px">
          <h3>Product 4</h3>
          <p>This is just a simple description for our product.</p>
          <a href="">View Product</a>
      </div>
  </div>
</main>


<!-- ***************** Footer ***************** -->
<footer>
  <h2>This is my footer.</h2>
</footer>
{%endblock%}